*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
 }

 html{
    box-sizing: border-box;
    font-size: 62.5%;
 }

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2.5rem;
}


